Le salaire de la peur.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="html">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="head">
					<xs:complexType>
						<xs:sequence>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="meta">
									<xs:complexType>
										<xs:attribute name="name" type="xs:string" use="optional" />
										<xs:attribute name="content" type="xs:string" use="required" />
										<xs:attribute name="http-equiv" type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
								<xs:element name="title" type="xs:string" />
								<xs:element name="link">
									<xs:complexType>
										<xs:attribute name="href" type="xs:string" use="required" />
										<xs:attribute name="rel" type="xs:string" use="required" />
										<xs:attribute name="type" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="div">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="p">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" name="span">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="class" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element minOccurs="0" maxOccurs="unbounded" name="a">
														<xs:complexType>
															<xs:sequence minOccurs="0">
																<xs:element name="span">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="class" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="id" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="class" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="class" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="lang" type="xs:string" use="required" />
						<xs:attribute name="class" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>